Package: backend.ai-dev
Version: 19.03.b9
Section: devel
Priority: optional
Architecture: all
Maintainer: Lablup Developers <sykang@lablup.com>
Original-Maintainer: Seongyoung Kang <sykang@lablup.com>
Depends: python3 (>= 3.6~),
    backend.ai-client(>= 18.12.0), 
    backend.ai-common(>= 18.12.0), 
    backend.ai-manager(>= 18.12.0), 
    backend.ai-agent(>= 18.12.0)
Description: Backend.ai package for developer
